<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header"> </head>

<body>
	<div th:replace="fragments/navigation_home.html :: navigation"></div>
	
	<main>
		<div class="homepage-hero">
			<div class="homepage-video">
				<video loop="" playsinline="" autoplay="" poster="https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/hero-img.5353d1d3.jpg" src="https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/homepagevideo_short_version2.98c5bfce.mp4"></video>
				<div class="homepage-background"></div>
				<div class="homepage-video-triangle"></div>
			</div>
			<div class="homepage-fluent">
				<h1><span>BE INFLUENT IN ENGLISH</span></h1>
				<p><span>Search hashtag to find more hints </span></p>
				<div class="homepage-menu">
					<div class="homepage-menu-choice">
						<input class="homepage-menu-select" type="text" placeholder="Search hashtag" value="">
						<span class="homepage-search-icon"><img width="30" height="30" src="/img/icon-search-white.png" alt="search"></span>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<main>
	    <div class="container status-row">
			<div class="container-md-1">
		
				<div class="homepage-status">
					<p>Welcome to Okey Dokey</p>
					<button id="buttonNotify" class="btn btn-outline-success mr-rl">Increment Notifications</button> 
				</div>
		
			</div>
		</div>
		
		
		<div class="container">
			<div class="container-md-1">
		
				<form action="/search" method="post">
					<div class="input-group ">
						<input type="text" name="s" class="form-control input-group-search" placeholder="Search for hobbies...">
					      <span class="input-group-btn">
					        <button id="search-button" class="btn btn-search"  type="submit"> Find People</button>
					      </span>
					</div>
				</form>
		
		
			</div>
		</div>

	</main>
	
	<div th:replace="fragments/footer.html :: footer"></div>
	
	<script src="/js/main.js"></script>
	<script>
		$( document ).ready(function() {
			initFirebaseAuth();
	    });
	</script>
</body>
</html>